.form {         
    // this is for register.html and login.html form
    &-group {
        margin: 1.2rem 0;
    }

    &-text {
        display: block;
        margin-top: 0.3rem;
        color: #888;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 0.4rem;
        font-size: 1.2rem;
        border: 1px solid #ccc;
    }

    // for create-profile.html
    // submit button
    input[type='submit'] {
        font: inherit;     // The inherit option means it will receive the body's font family.
                           // The inherit keyword specifies that a property should inherit its value from its parent element.
    }
      .social-input {
        display: flex;

        i {
            padding: 0.5rem;
            width: 4rem;
            
            &.fa-twitter {
                color: #38a1fb;
            }

            &.fa-facebook {
                color: #3b5998;
            }

            &.fa-youtube {
                color: #c4302b;
            }

            &.fa-linkedin {
                color: #0077b5;
            }

            &.fa-instagram {
                color: #3f729b;
            }
        }
      }                      
    

    }
